* {
    box-sizing: border-box;
  }


body{
    background-image:url('../images/sativa.png');
    /*background-color: darkgray*/
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    background-color: #ffffff;
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 5px solid #cccccc;
  }

  .name{
    position: fixed;
    top: 0;
    float: left;
    margin-left: 20%;
    padding: 33px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    font-size: 40px;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #5e535380;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transform: .5s all ease-in-out;
}

.topnav a:hover {
    background-color: #4aaaa5;
    color: white;
  }

  .topnav-right {
    float: right;
  }


  footer{
     padding: 20px;
     font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
     background-color: #666666;
     text-align: center;
     position: fixed;
     bottom: 0;
     left: 0;
     width: 100%;
     border-top: 5px solid #4aaaa5;
    
  }

  section{
      position: relative;
      top: 150px;
      font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
      background-color: #ffffff;
      border: 5px #dddddd;
      width: 960px;
      margin: auto;
      height: 100%;
      color: #858080;
      font-size: 18px;
      box-shadow:3px 3px #4aaaa5;
      z-index: -1;
  }

 

  .img{
    float: left; 
    margin: 5px 15px 15px 15px;
  }

  p{
    line-height: 32px;   /* within paragraph */
    margin: 30px 30px 30px 30px; /* between paragraphs */
}  

section h2{
    position: relative;
    color: #4aaaa5;
    margin: 30px 0px 20px 30px;
    font-size: 50px;
   padding-top: 30px;
}

.titleline{
    position: relative;
    margin: 10px 10px 10px 30px;
    width: 900px;
    background-color: lightgray;
    padding: 2px;
  }



  /*contact form*/

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: darkgray;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4aaaa5;
}

.container {
    border-radius: 5px;
    padding: 20px;
}


/*For portfolio page image structure*/

.column {
    float: left;
    width: 300px;
    padding: 15px;
    
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.prname{
    position: relative; 
    top: 100px;  
    width: 100%;
    padding: 20px; 
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    margin-bottom: -58px;
}

